.products-list-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.list-outer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.inner-list-cont{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.head{
    color:#3D3D3D;
    font-weight: 700;
    font-size: xx-large;
}

.pagination-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}